<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Book</title>
</head>
<body>
    <h1>Edit Student records</h1>
    <form method="post">
        <label for="student">student_id:</label>
        <input type="text" id="student" name="student" value="{{ student['student_id'] }}" required><br><br>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ student['name'] }}" required><br><br>
         <label for="student">Age:</label>
        <input type="number" id="age" name="age" value="{{ student['age'] }}" required><br><br>
        <input type="submit" value="Update record">
    </form>
    <a href="{{ url_for('main.index') }}">Back to student List</a>
</body>
</html>